@font-face {
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/BricolageGrotesque-Regular.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/BricolageGrotesque-Bold.woff2') format('woff2');
    font-display: fallback;
}
