/* Theme */

:root {
    --font-brand: 'Bricolage Grotesque', sans-serif; /* The font that is mainly used on the website */
    --color-black: #151515;
    --color-black-1: #666666;
    --color-black-2: #aaaaaa;
    --color-white: #ffffff;
    --color-white-1: #eeeeee;
    --color-white-2: #cccccc;
    --color-gray: #888888;
    --color-indigo: #5956de;
    --color-lime: #cbfb44;
    --color-yellow: #fff746;
    --color-pink: #ff76ce;
    --color-purple: #9b48df;
    --color-cyan: #6bfffe;
    --color-red: #d74242; /* Used for errors, usually some kind of red */
    --color-primary: var(--color-indigo);
    --color-link-visited: var(--color-purple);
    --color-error: var(--color-red);
}

html[color-scheme='dark'] {
    --color-fg: var(--color-white);
    --color-fg-1: var(--color-white-1);
    --color-fg-2: var(--color-gray);
    --color-bg: var(--color-black);
    --color-bg-1: var(--color-black-1);
    --color-bg-2: var(--color-black-2);
}

html[color-scheme='light'] {
    --color-fg: var(--color-black);
    --color-fg-1: var(--color-black-1);
    --color-fg-2: var(--color-gray);
    --color-bg: var(--color-white);
    --color-bg-1: var(--color-white-1);
    --color-bg-2: var(--color-white-2);
}

/* Root */

body,
#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: var(--font-brand);
    color: var(--color-fg);
    background-color: var(--color-bg);
}

/* Button */

a[role='button'].btn,
button.btn {
    color: var(--fg, var(--color-bg));
    background: var(--bg, var(--color-primary));
    border: none;
    transition: var(--transition, all 0.3s);
    font-family: var(--font-ui);
    font-weight: bold;
    border-radius: 0.5em;

    &:hover {
        translate: 0 -0.1em;
    }
    &:active {
        translate: 0 0.2em;
        border-radius: 0.5em;
    }
    &:disabled {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;
    }

    /* padding should only be based on text not icons */
    & > svg {
        margin: -1rem 0;
    }
}

a[role='button'].btn > svg,
button.btn > svg {
    color: var(--fg, var(--color-fg));
}

/* Inputs */

input[type='text']:not(.invisible),
input[type='password']:not(.invisible),
input[type='email']:not(.invisible),
input[type='number']:not(.invisible),
textarea:not(.invisible) {
    border: 2px solid var(--color-bg-2);
    border-radius: 0.5em;
    background-color: var(--color-bg-1);
    outline: none;
    color: var(--color-fg);
    &::placeholder {
        color: var(--color-fg-2);
    }
    transition: 0.3s border;
    &:hover,
    &:focus {
        border: 2px solid var(--color-primary);
    }
}

input[type='text'].invisible,
input[type='password'].invisible,
input[type='email'].invisible,
input[type='number'].invisible,
textarea.invisible {
    font-family: var(--font-brand);
    background-color: none;
    border: 2px solid transparent;
    outline: none;
    transition: 0.3s border;
    border-radius: 0.3em;
    color: var(--color-fg);
    &::placeholder {
        color: var(--color-fg-2);
    }
    &:hover,
    &:focus {
        border: 2px solid var(--color-primary);
    }
}

/* labels */

label {
    font-size: 0.9rem;
    color: var(--color-fg-1);
}

/* Links */

a {
    color: var(--color-primary);
}

/* Select */

select {
    border-radius: 0.5em;
}

/* Tables */
th,
td {
    border: 2px solid var(--color-bg-2);
}
